.header {
  background: #FFFFFF;
  border-radius: 12px;
  box-shadow: 1px 1px 1px black;

  &--container {
    padding: 16px;
  }

  &--name {
    margin-top: 0;
  }

  &__link {
    font-weight: 500;
    font-size: 14px;
    color: #4F4F4F;
    padding-left: 30px;
  }

  &--icon {
    width: 30px;
    height: 30px;
  }

  &--email,
  &--number {
    display: flex;
    align-items: center;
  }

}

@media (min-width: 800px) {

  .header {

    // &__section--wrapper {
    //   display: flex;
    //   justify-content: space-between ;
    //   flex-direction: row;
    // }

    // &--container{
    //   display: grid;
    //   grid-template-columns: 25% 1fr;
    //   gap: 40px;
    // }

    &__section--wrapper {
      margin-bottom: 60px;
    }

    &--img {
      width: 100%;
    }

  }
}
